{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Login</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to Sai Ecommerce!!
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align="justify">
          <br /><br />
          Lorem ipsum dolor sit amet. Quo modi quae et dolorem veniam et
          repellat dolores eum adipisci beatae. Aut officiis voluptatem id
          galisum itaque nam dolores voluptatem aut excepturi doloribus. Nam
          veritatis asperiores et illum similique vel possimus aperiam. Et
          corrupti asperiores cum odit laborum ut nulla recusandae hic tempore
          commodi. Et dolores voluptas et velit alias eum voluptas vero sed
          officiis repellendus. Et accusantium unde et similique eius eum
          quibusdam odio sit ipsam voluptatem ab quasi delectus est cumque autem
          sit voluptatibus molestiae. Est dolor
          <br /><br />
          quibusdam ea reiciendis rerum sit perferendis perspiciatis est
          voluptas porro et rerum totam aut laudantium expedita eum velit
          sapiente. Lorem ipsum dolor sit amet. Quo modi quae et dolorem veniam
          et repellat dolores eum adipisci beatae. Aut officiis voluptatem id
          galisum itaque nam dolores voluptatem aut excepturi doloribus. Nam
          veritatis asperiores et illum similique vel possimus aperiam. Et
          corrupti asperiores cum odit laborum ut nulla recusandae hic tempore
          commodi. Et dolores voluptas et velit alias eum voluptas vero sed
          officiis repellendus. Et accusantium unde et similique eius eum
          quibusdam odio sit ipsam voluptatem ab quasi delectus est cumque autem
          sit voluptatibus molestiae. Est dolor
          <br /><br />
          quibusdam ea reiciendis rerum sit perferendis perspiciatis est
          voluptas porro et rerum totam aut laudantium expedita eum velit
          sapiente. Lorem ipsum dolor sit amet. Ut aliquid velit ea omnis
          facilis aut voluptatum dolorem ea repellat repudiandae eos
          necessitatibus consectetur sit unde dolore sit galisum amet. Aut
          facilis harum ut tempora tempora aut nihil voluptatem cum laborum
          repellat aut sapiente eveniet eum modi rerum. Ut commodi expedita qui
          deleniti beatae est molestiae molestiae. Et rerum maiores aut aperiam
          voluptatem qui quia fugit id iste nulla in quasi quasi ut molestiae
          fugit At vitae beatae. Sed libero corporis est facilis dolorum a fuga
          unde qui error magnam aut consequatur voluptas et voluptas suscipit
          vel maxime porro. At voluptate quibusdam ex amet veniam ut rerum
          consequatur ut galisum tempora aut veritatis omnis. A laborum modi et
          repudiandae soluta ut porro autem?
        </p>
        <br /><br />
      </div>
    </center>
  </div>
</div>
{% endblock %}
